/*---------------------------------------------- Geral --------------------------------------------- */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}
/*---------------------------------------------- Textos ------------------------------------------- */
.texto1 {
  text-align: center;
  padding: 40px 20px;
  background: #2D2D2A;
}

.texto1 h1 {
  font-size: 2rem;
  color: #FFD972;
  margin-bottom: 10px;
}

.texto1 p {
  font-size: 1rem;
  color: #F4D06F;
}
.texto2 {
  text-align: center;
  padding: 40px 20px;
  background: #202124;
  border-radius: 15px;
  margin-bottom: 30px;
  color:#EEC643
}

.texto2 h1 {
  font-size: 2rem;
  color: #EEC643;
  margin-bottom: 10px;
}

.texto2 p {
  font-size: 1rem;
  color: #EEC643;
}

/*------------------------------------------- Layout Geral--------------------------------------- */
.contato-page {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/*--------------------------------------- Boxes de Destaque para os Serviços ----------------------*/
.servicos-container {
  text-align: center;
  margin-bottom: 40px;
}

.servicos-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.boxes-servicos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.box-servico {
  flex: 1 1 calc(50% - 20px);
  min-width: 250px;
  background: #202124;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1rem;
  color: #EEC643;
}

/*-------------------------------------------- Obras --------------------------------------------- */
.obras-recentes {
  padding: 50px 20px;
  background-color: #202124;
  color: #EEC643;
  text-align: center;
}

.obras-recentes h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.obras-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.obra-item {
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

.obra-item img {
  width: 100%;
  height: auto;
}

.obra-detalhes {
  padding: 15px;
  text-align: left;
}

.obra-detalhes p {
  margin: 5px 0;
}

/*----------------------------------------------- Sobre Mim ----------------------------------------- */
.sobre-mim {
  padding: 50px 20px;
  background-color: #2D2D2A;
  color: #F4D06F;
}

.sobre-mim-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.sobre-mim img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sobre-mim-texto {
  flex: 1;
  text-align: center;
}

.sobre-mim h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.sobre-mim p {
  margin-bottom: 15px;
  line-height: 1.6;
}


/*----------------------------------------------------Contato Destaque----------------------------------*/
.destaque-contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.destaque-box {
  flex: 1 1 calc(50% - 20px);
  min-width: 200px;
  background: #2D2D2A;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #EEC643;
}

.destaque-box p {
  font-size: 0.9rem;
  margin: 10px 0 0;
  font-size: 1.1rem;
}

.destaque-box svg {
  font-size: 1.5rem;
  color: royalblue;
  text-decoration: none;
}

.destaque-box svg:hover {
  text-decoration: underline;
}

.icone {
  font-size: 24px;
}

/*------------------------------------------------Ícone do WhatsApp-----------------------------------*/
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-icon img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  background-color: greenyellow;
}

.whatsapp-icon img:hover {
  transform: scale(1.1);
}

/*------------------------------------------------------Mapa---------------------------------------------*/
.mapa-container iframe {
  border-radius: 10px;
}

/*------------------------------------------------ Mobile ------------------------------------------------*/
@media (max-width: 768px) {
  .texto1, .texto2 {
    padding: 30px 15px;
    font-size: 1rem;
  }
  .texto1 h1, .texto2 h1 {
    font-size: 1.8rem;
  }
  .texto1 p, .texto2 p {
    font-size: 0.9rem;
  }

  .boxes-servicos {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .box-servico {
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding: 15px;
  }

  .obras-lista {
    flex-direction: column;
    gap: 20px;
  }

  .sobre-mim-content {
    flex-direction: column;
    text-align: center;
  }

  .destaque-contato {
    flex-direction: column;
    gap: 20px;
  }

  .destaque-box {
    width: 100%;
  }

  .destaque-box svg {
    font-size: 1.2rem;
  }

  .obra-item {
    max-width: 100%;
  }

  svg.svg-inline--fa.fa-phone.fa-2x {
    width: 24px;
    height: auto;
  }

  svg.svg-inline--fa.fa-envelope.fa-2x {
    width: 24px;
    height: auto;
  }

  svg.svg-inline--fa.fa-check.fa-2x {
    width: 24px;
    height: auto;
  }

  svg.svg-inline--fa.fa-building.fa-2x {
    width: 24px;
    height: auto;
  }

  svg.svg-inline--fa.fa-user-check.fa-2x {
    width: 24px;
    height: auto;
  }

  svg.svg-inline--fa.fa-handshake-simple.fa-2x {
    width: 24px;
    height: auto;
  }

  svg.svg-inline--fa.fa-file-lines.fa-2x {
    width: 24px;
    height: auto;
  }

  svg.svg-inline--fa.fa-comment-dots.fa-2x {
    width: 24px;
    height: auto;
  }

  svg.svg-inline--fa.fa-map-marker-alt.fa-2x {
    width: 24px;
    height: auto;
  }

  svg.svg-inline--fa.fa-instagram.fa-2x {
    width: 24px;
    height: auto;
  }

  .whatsapp-icon img {
    width: 50px;
    height: 50px;
  }
}